@import "tailwindcss";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html {
    font-family: 'Lora', serif;
    font-weight: 400;
  }
  html.dark {
    font-family: 'Lora', serif;
    font-weight: 500;
  }
}

@layer utilities {
  .prose blockquote p:first-of-type::before {
    content: none;
  }
  
  .prose blockquote p:last-of-type::after {
    content: none;
  }
}

@layer components {
  .prose blockquote {
    font-style: normal;
    border: none;
  }

  .prose blockquote p {
    margin: 0;
  }
}